body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #ffffffa6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px;
    background-color: #343a40;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-top: 200px;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 40px;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.custom-file-upload {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #45a049;
}


input[type="text"], input[type="file"] {
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.1rem;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background: #00408b;
    transform: translateY(0);
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    transition: opacity 0.3s ease;
    display: none;
}

#message.show {
    display: block;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    form {
        padding: 20px;
    }

    button {
        width: 100%;
    }
}

/* uploadPage.css */
.hidden {
    display: none;
}

.show {
    display: block;
}